.margin {
  &--privacy {
    margin-bottom: 20px;
    margin-left: 24px;
    margin-right: 24px;

    @media screen and (min-width: 745px) {
      margin-left: 40px;
      margin-right: 40px;
    }

    @media screen and (min-width: 1128px) {
      margin-left: 75px;
      margin-right: 75px;
    }
  }
}

.buttons--privacy {
}
