@import '../../../styles/layout.module.scss';

.flex__privacy--content {
  display: block;

  @media screen and (min-width: 1328px) {
    display: flex;
    align-items: center;
  }
}

.flex__privacy--buttons {
  display: block;

  @media screen and (min-width: 728px) {
    display: flex;
  }
}

.m-r--privacy {
  margin-right: 0px;

  @media screen and (min-width: 728px) {
    margin-right: 8px;
  }
}

.m {
  &__privacy {
    margin: 0 20px 20px;

    @media screen and (min-width: 728px) {
      margin: 0 40px 20px;
    }

    @media screen and (min-width: 1128px) {
      margin: 0 80px 20px;
    }

    @media screen and (min-width: 1760px) {
      margin: 0 0 20px;
    }
  }
}

.ba {
  &::after {
    content: '';
    width: 100%;
    position: absolute;
    border-bottom: 1px solid #868686;
    left: 0;
    top: 54%;
  }
}
