.display {
  &__transparent {
    &--sm {
      display: flex;

      @media screen and (min-width: 728px) {
        display: none;
      }
    }

    &--md {
      display: none;

      @media screen and (min-width: 728px) {
        display: flex;
      }
    }
  }
}

.hover {
  &__logo {
    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }
  }
}
