.hover-transparent {
  &:hover {
    background-color: rgba(125, 125, 125, 0.5);
  }
}

$pixels: (
  sm: 2,
  md: 3,
  lg: 4,
);

$colors: (
  white__transparent: "rgba(255, 255, 255, 0.2)",
  white: #ffffff,
  white__1: #f7f7f7,
  white__2: #dddddd,
  gray__0: #868686,
  gray__1: #717171,
  gray__4: #363636,
  black: #000000,
  "transparent": transparent,
);

@each $name, $value in $pixels {
  .hover-shadow--#{$name} {
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.18) 0px #{$value}px #{$value * 2}px;
      transition: 0.3s all;
    }
  }
}

@each $color, $value in $colors {
  .hover-background--#{$color} {
    &:hover {
      background-color: #{$value};
      transition: 0.4s background-color;
    }
  }

  .hover-border--#{$color} {
    &:hover {
      border: 1px solid #{$value} !important;
      transition: 0.4s border-color;
    }
  }
}
