.hover-transparent {
  &:hover {
    background-color: rgba(125, 125, 125, 0.5);
  }
}

$pixels: (
  sm: 2,
  md: 3,
  lg: 4,
);

$colors: (
  white__transparent: "rgba(255, 255, 255, 0.2)",
  white: #ffffff,
  white__1: #f7f7f7,
  white__2: #dddddd,
  gray__0: #868686,
  gray__1: #717171,
  gray__4: #363636,
  black: #000000,
  lightred__0: #fef8f6,
  warning: #c54a32,
  darkgreen__3: #008489,
  "transparent": transparent,
);

@each $name, $value in $pixels {
  .hover-shadow--#{$name} {
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.18) 0px #{$value}px #{$value * 2}px;
      transition: 0.3s all;
    }
  }
}

@each $color, $value in $colors {
  .hover-background--#{$color} {
    &:hover {
      background-color: #{$value};
      transition: 0.4s background-color;
    }
  }

  .hover-border--#{$color} {
    &:hover {
      border: 1px solid #{$value} !important;
      transition: 0.4s border-color;
    }
  }

  .background--#{$color} {
    background-color: #{$value} !important;
    transition: 0.4s border-color;
  }

  .c--#{$color} {
    color: #{$value} !important;
    transition: 0.4s border-color;
  }

  .border--#{$color} {
    border: 1px solid #{$value} !important;
    transition: 0.4s border-color;
  }

  .focus-border--#{$color} {
    &:focus {
      border: 1px solid #{$value} !important;
      transition: 0.4s border-color;
    }
  }
}

.transition {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.transition--fast {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
