.c-white {
  color: white;
}

.bg--transparent {
  background-color: transparent;
}

.bg--white {
  background-color: white;
}

.bg--black {
  background-color: black;
}

.border {
  border: 1px solid black;
}

.border--transparent {
  border: 1px solid transparent;
}

.border--black {
  border: 1px solid black;
}
