$colors: (
  white__0: #ffffff,
  white__1: #f7f7f7,
  white__2: #dddddd,
  gray: #868686,
  black: #000000,
  transparent: transparent,
);

@each $name, $color in $colors {
  .c--#{$name} {
    color: #{$color};
  }

  .bg--#{$name} {
    background-color: #{$color};
  }

  .b--#{$name} {
    border: 1px solid #{$color};
  }

  .b-t--#{$name} {
    border-top: 1px solid #{$color};
  }

  .b-b--#{$name} {
    border-bottom: 1px solid #{$color};
  }
}

.b--0 {
  border: none;
}
