.w {
  &__content {
    &--wrapper {
      @media screen and (min-width: 1028px) {
        max-width: 1128px;
      }
    }
  }

  &__details {
    &--left {
      @media screen and (min-width: 1028px) {
        width: 58%;
      }
    }

    &--right {
      display: none;
      @media screen and (min-width: 1028px) {
        display: block;
        width: 42%;
      }
    }
  }
}

.flex {
  &__details {
    display: block;

    @media screen and (min-width: 1018px) {
      display: flex;
    }
  }
}
