$weights: (100, 300, 500, 700, 900);

@each $weight in $weights {
  .weight--#{$weight} {
    font-weight: #{$weight};
  }
}

$sizes: (
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  30,
  32,
  35,
  40,
  45,
  50,
  75,
  100
);

@each $size in $sizes {
  .size--#{$size} {
    font-size: #{$size}px;
  }
}

$spacings: (1, 3, 4, 5, 15);

@each $spacing in $spacings {
  .ls--#{$spacing} {
    letter-spacing: #{$spacing / 10}px;
  }
}

$lineheights: (15);
@each $lineheight in $lineheights {
  .lh--#{$lineheight} {
    line-height: #{$lineheight / 10};
  }
}

.text--left {
  text-align: left;
}

.text--center {
  text-align: center;
}

.no-wrap {
  white-space: nowrap;
}

.uppercase {
  text-transform: uppercase;
}
