$weights: (100, 300, 500, 700, 900);

@each $weight in $weights {
  .weight--#{$weight} {
    font-weight: #{$weight};
  }
}

$sizes: (5, 6, 8, 10, 12, 13, 14, 15, 16, 20, 25, 30, 35, 40, 45, 50, 75, 100);

@each $size in $sizes {
  .size--#{$size} {
    font-size: #{$size}px;
  }
}

$spacings: (1, 15);

@each $spacing in $spacings {
  .ls--#{$spacing} {
    letter-spacing: #{$spacing / 10}px;
  }
}

$lineheights: (15);
@each $lineheight in $lineheights {
  .lh--#{$lineheight} {
    line-height: #{$lineheight / 10};
  }
}

.no-wrap {
  white-space: nowrap;
}

.uppercase {
  text-transform: uppercase;
}
