html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'AirbnbCereal';
  font-weight: 500;
}

input {
  font-family: 'AirbnbCereal';
}

a {
  color: black;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
