.display {
  &__content {
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (min-width: 1128px) {
      grid-template-columns: 840px 1fr;
    }
  }
}

.w {
  &__section {
    width: 100%;

    @media screen and (min-width: 1128px) {
      width: 840px;
    }
  }
}
