.notice {
  text-align: center;
  font-size: 14px;
  padding: 16px 24px;

  & a {
    text-decoration: underline;
  }
}

.background {
  height: 700px;
}

.image {
  width: 100%;
  height: 100%;
  max-height: 700px;
  position: absolute;
  background-size: cover;

  & img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.header {
  padding: 15px 30px;
  position: sticky;
}

.searchbar__sm {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 12px;
  background-color: white;

  & svg {
    margin-right: 15px;
  }

  & input {
    border: none;
    font-size: 16px;
    outline: none;
    font-weight: 300;
  }
}

.explore {
  position: relative;
  z-index: 20;
  text-align: center;

  &__title {
    margin: 10px 0;

    & h3 {
      color: white;
      font-size: 28px;
    }
  }

  &__subtitle {
    color: white;

    & p {
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0.3px;
    }
  }

  &__button {
    display: inline-block;
    padding: 6px 16px;
    border-radius: 6px;
    background-color: white;
    margin: 15px 0;

    & a {
      letter-spacing: 0.1px;
      font-size: 14px;
    }
  }
}

.modal {
  background-color: white;
  position: fixed;
  bottom: 0;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
  margin: 20px;
  display: block;
  z-index: 9999;

  &__content {
    margin: 28px 25px;
  }

  &__title {
    display: flex;
    align-items: center;
    margin: 6px 0;

    &--text {
      margin-right: 10px;
    }

    &--icon {
      position: relative;
      top: 1px;
    }
  }

  &__description {
    margin-bottom: 30px;
    & p {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.5;
      color: #505050;
    }
  }

  &__button {
    margin: 6px 0;
  }
}

.button {
  &--save {
    color: white;
    background-color: black;
    border: 1px solid transparent;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    padding: 13px 0;
  }

  &--cookie {
    color: black;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    padding: 13px 0;

    &:hover {
      background-color: #f3f3f3;
    }
  }
}

.menubar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px;
  bottom: 0;
  background-color: white;
  width: 100%;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 49px;

    &:hover {
      & svg {
        stroke: #f64f6f;
      }
      & p {
        color: #f64f6f;
      }
    }

    &--logo {
      & svg {
        stroke: #717171;
        fill-opacity: 0;
        stroke-width: 1.5px;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
    }

    &--text {
      & p {
        font-size: 10px;
      }
    }
  }

  .selected {
    & svg {
      stroke: #f64f6f;
    }
    & p {
      color: #f64f6f;
    }
  }
}

.category-section {
  position: relative;
  z-index: 20;
  width: 100%;
  max-width: 1600px;
  padding: 0 24px;
  margin: 25px 0 50px 0;
  &__carousel {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: mandatory;
    column-gap: 10px;
    row-gap: 10px;
    margin: 0 -24px;
    padding: 4px 24px 4px;
  }

  &__card {
    border-radius: 15px;
    width: 270px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    &--img {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      width: 100%;

      & img {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
      }
    }

    &--title {
      padding: 10px 15px 0 15px;

      & h3 {
        color: #404040;
        font-size: 17px;
        font-weight: 500;
      }
    }

    &--description {
      padding: 5px 15px 15px 15px;

      & p {
        font-size: 15px;
        font-weight: 100;
        color: #757575;
      }
    }
  }
}

.experiences {
  background-color: black;

  &__content {
    padding: 25px;
  }

  &__title {
    & h3 {
      font-weight: 300;
      color: white;
      font-size: 22px;
    }
  }

  &__description {
    color: white;
    font-weight: 300;
  }
}

.blm {
  &__content {
    padding: 22px;
  }

  &__title {
    & h3 {
      color: #222222;
      font-size: 24px;
      font-weight: 500;
    }
  }

  &__description {
    margin-top: 15px;
    & p {
      color: #a2a2a2;
      font-weight: 300;
    }
  }

  &__button {
    margin-top: 25px;
    margin-bottom: 40px;
    & a {
      font-size: 14px;
      font-weight: 500;
      border-radius: 10px;
      padding: 6px 14px;
      border: 1px solid black;
    }
  }
}

.destinations {
  &__content {
    padding: 22px;
  }
  &__title {
    & h3 {
      color: #222222;
      font-size: 24px;
      font-weight: 500;
    }
  }

  &__categories {
    padding: 15px 0;
    display: grid;
    grid-auto-flow: column;
    max-width: 1600px;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: 1px solid #dddddd;
    column-gap: 25px;
  }

  &__category {
    font-size: 14px;
    white-space: nowrap;
  }

  &__cities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.destination {
  padding: 15px 0;
  &__city {
    font-size: 14px;
    font-weight: 300;
    color: #363636;
  }

  &__state {
    font-size: 14px;
    font-weight: 300;
    color: #7c7c7c;
  }
}
