.notice {
  text-align: center;
  font-size: 14px;
  padding: 20px 24px;
  z-index: 9999;
  position: relative;
  background-color: #f7f7f7;

  & a {
    text-decoration: underline;
  }
}

.page {
  position: relative;
  min-height: 100vh;
}

.banner {
  position: relative;
  padding-top: 133.3%;

  @media screen and (min-width: 728px) {
    padding-top: 100%;
  }

  @media screen and (min-width: 960px) {
    padding-top: 45%;
  }

  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    &--picture {
      height: 100%;
      width: 100%;
      background-size: cover;
      display: inline-block;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.header {
  &__wrapper {
    &--sm {
      height: 100%;
      @media screen and (min-width: 728px) {
        display: none;
      }
    }

    &--md {
      display: none;
      @media screen and (min-width: 728px) {
        height: 100%;
        display: block;
      }
    }
  }
}

.searchbar {
  padding: 25px 0 15px 0;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--right {
      display: flex;
    }
  }

  &__globe {
    margin: 0 12px 0 8px;
  }

  &__icon {
    &--globe {
      display: flex;
      align-items: center;
      margin-right: 6px;
    }

    &--arrow {
      display: flex;
      align-items: center;
    }

    &--bars {
      margin-right: 8px;
    }

    &--avatar {
    }
  }

  &__menu {
    & button {
      padding: 6px 8px 6px 10px;
      border-radius: 30px;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
      }
    }
  }

  &__sm {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 12px;
    background-color: white;

    & svg {
      margin-right: 15px;
    }

    & input {
      border: none;
      font-size: 16px;
      outline: none;
      font-weight: 300;
    }
  }

  &__md {
    color: white;
  }

  &__logo {
    &--md {
      display: none;

      @media (min-width: 728px) and (max-width: 960px) {
        display: block;
      }
    }

    &--lg {
      display: none;

      @media screen and (min-width: 960px) {
        display: block;
      }
    }
  }
}

.explore {
  position: relative;
  z-index: 20;
  text-align: center;
  height: 75%;

  @media screen and (min-width: 728px) {
    text-align: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    margin: 10px 0;

    & h3 {
      color: white;
      font-size: 28px;
    }
  }

  &__subtitle {
    color: white;
    width: 100%;
    text-align: center;

    @media screen and (min-width: 728px) {
      width: 300px;
      text-align: initial;
    }

    & p {
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0.3px;

      @media screen and (min-width: 728px) {
        font-size: 14px;
      }
    }
  }

  &__button {
    margin: 15px 0;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 728px) {
      justify-content: flex-start;
    }

    & a {
      width: 140px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 0.1px;
      font-size: 14px;
      background-color: white;
      border-radius: 6px;
    }
  }
}

.modal {
  background-color: white;
  position: fixed;
  bottom: 0;

  margin: 20px;
  display: block;
  z-index: 9999;

  &__content {
    padding: 28px 25px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
  }

  &__title {
    display: flex;
    align-items: center;
    margin: 6px 0;

    &--text {
      margin-right: 10px;
    }

    &--icon {
      position: relative;
      top: 1px;
    }
  }

  &__description {
    margin-bottom: 30px;
    & p {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.5;
      color: #868686;
    }
  }

  &__button {
    margin: 6px 0;
  }
}

.button {
  &--save {
    color: white;
    background-color: black;
    border: 1px solid transparent;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    padding: 13px 0;
  }

  &--cookie {
    color: black;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    padding: 13px 0;

    &:hover {
      background-color: #f3f3f3;
    }
  }
}

.menubar {
  z-index: 30;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px;
  bottom: 0;
  background-color: white;
  width: 100%;
  border-top: 1px solid #dddddd;

  &__wrapper {
    @media screen and (min-width: 728px) {
      display: none;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 49px;

    &:hover {
      & svg {
        stroke: #f64f6f;
      }
      & p {
        color: #f64f6f;
      }
    }

    &--logo {
      & svg {
        stroke: #717171;
        fill-opacity: 0;
        stroke-width: 1.5px;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
    }

    &--text {
      & p {
        font-size: 10px;
      }
    }
  }

  .selected {
    & svg {
      stroke: #f64f6f;
    }
    & p {
      color: #f64f6f;
    }
  }
}

.category-section {
  margin: 25px 0 50px 0;

  &__carousel {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: mandatory;
    column-gap: 10px;
    row-gap: 10px;
    margin: 0 -24px;
    padding: 4px 24px 4px;

    @media screen and (min-width: 728px) {
      width: 100%;
      margin: 0;
      padding: 4px 0 4px;
    }
  }

  &__card {
    border-radius: 15px;
    width: 270px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

    @media screen and (min-width: 745px) {
      width: auto;
    }

    &--img {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      width: 100%;

      & img {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
      }
    }

    &--title {
      padding: 10px 15px 0 15px;

      & h3 {
        color: #404040;
        font-size: 17px;
        font-weight: 500;
      }
    }

    &--description {
      padding: 5px 15px 15px 15px;

      & p {
        font-size: 15px;
        font-weight: 100;
        color: #757575;
      }
    }

    &--space {
      width: 12px;
      background-color: transparent;
      height: 100%;

      @media screen and (min-width: 745px) {
        display: none;
      }
    }
  }
}

.experiences {
  background-color: black;
  padding: 25px 0;

  &__title {
    & h3 {
      font-weight: 300;
      color: white;
      font-size: 22px;
    }
  }

  &__description {
    color: white;
    font-weight: 300;
  }

  &__button {
    display: inline-block;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;

    & a {
      display: block;
      color: white;
      font-size: 14px;
      padding: 6px 15px;
    }
  }
}

.blm {
  padding: 22px 0;

  &__title {
    & h3 {
      color: #222222;
      font-size: 24px;
      font-weight: 500;
    }
  }

  &__description {
    margin-top: 15px;
    & p {
      color: #a2a2a2;
      font-weight: 300;
    }
  }

  &__button {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 40px;
    & a {
      display: block;
      font-size: 14px;
      font-weight: 500;
      border-radius: 6px;
      padding: 6px 14px;
      border: 1px solid black;
    }
  }
}

.destinations {
  padding: 22px 0;

  &__title {
    & h3 {
      color: #222222;
      font-size: 24px;
      font-weight: 500;
    }
  }

  &__categories {
    padding: 15px 0;
    display: grid;
    grid-auto-flow: column;
    max-width: 1600px;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: 1px solid #dddddd;
    column-gap: 25px;
  }

  &__category {
    font-size: 14px;
    white-space: nowrap;
  }

  &__cities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .destination {
    padding: 15px 0;
    &__city {
      font-size: 14px;
      font-weight: 300;
      color: #363636;
    }

    &__state {
      font-size: 14px;
      font-weight: 300;
      color: #7c7c7c;
    }
  }
}

.footer {
  border-top: 1px solid #dddddd;
  padding: 22px 0;

  &__section {
    border-bottom: 1px solid #dddddd;

    &:not(first-child) {
      margin-top: 20px;
    }

    &--name {
      & h4 {
        font-size: 12px;
        text-transform: uppercase;
      }
    }

    &--items {
    }
  }

  &__item {
    margin: 15px 0;
    & a {
      font-size: 14px;
      font-weight: 300;
    }
  }

  &__others {
  }

  &__buttons {
    display: flex;
    margin: 20px 0;
  }

  &__button {
    & button {
      display: flex;
      align-items: center;
      border: none;
      background-color: transparent;
      margin-right: 10px;

      & svg {
        margin-right: 5px;
      }

      & p {
        color: black;
        font-size: 14px;
        margin-right: 7px;

        &:last-child {
          text-decoration: underline;
        }
      }
    }
  }

  &__rights {
    & p {
      font-size: 14px;
      font-weight: 300;
    }
  }

  &__services {
    display: flex;
  }

  &__service {
    margin-right: 10px;
    & a {
      font-size: 14px;
      font-weight: 300;
    }
  }
}
