.banner {
  position: relative;
  padding-top: 133.3%;

  @media screen and (min-width: 728px) {
    padding-top: 100%;
  }

  @media screen and (min-width: 960px) {
    padding-top: 45%;
  }

  &__background {
    &--picture {
      height: 100%;
      width: 100%;
      background-size: cover;
      display: inline-block;
    }
  }
}

.header {
  &__wrapper {
    &--sm {
      height: 100%;
      @media screen and (min-width: 728px) {
        display: none;
      }
    }

    &--md {
      // display: none;
      // @media screen and (min-width: 728px) {
      //   height: 100%;
      //   display: block;
      // }
    }
  }
}

.searchbar {
  &__sm {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 12px;
    background-color: white;

    & svg {
      margin-right: 15px;
    }

    & input {
      border: none;
      font-size: 16px;
      outline: none;
      font-weight: 300;
    }
  }

  &__logo {
    &--md {
      display: none;

      @media (min-width: 728px) and (max-width: 960px) {
        display: block;
      }
    }

    &--lg {
      display: none;

      @media screen and (min-width: 960px) {
        display: block;
      }
    }
  }
}

.menubar {
  z-index: 30;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px;
  bottom: 0;
  background-color: white;
  width: 100%;
  border-top: 1px solid #dddddd;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 49px;

    &:hover {
      & svg {
        stroke: #f64f6f;
      }
      & p {
        color: #f64f6f;
      }
    }

    &--logo {
      & svg {
        stroke: #717171;
        fill-opacity: 0;
        stroke-width: 1.5px;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
    }

    &--text {
      & p {
        font-size: 10px;
      }
    }
  }

  .selected {
    & svg {
      stroke: #f64f6f;
    }
    & p {
      color: #f64f6f;
    }
  }
}

.container {
  position: relative;
  z-index: 20;
  width: 100%;
  padding: 0 24px;

  @media screen and (min-width: 745px) {
    max-width: initial;
    padding: 0 40px;
  }

  @media screen and (min-width: 1128px) {
    padding: 0 75px;
  }
}

.container--carousel {
  position: relative;
  z-index: 20;
  width: 100%;
  padding: 0 19px;
  height: 100%;

  @media screen and (min-width: 745px) {
    max-width: initial;
    padding: 0 35px;
  }

  @media screen and (min-width: 1128px) {
    padding: 0 70px;
  }
}

.flex {
  &__explore {
    display: block;
    text-align: center;
    @media screen and (min-width: 728px) {
      text-align: initial;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__blm {
    &--content {
      display: block;

      @media screen and (min-width: 728px) {
        display: flex;
        align-items: center;
      }
    }
  }

  &__footer {
    &--section {
      @media screen and (min-width: 1128px) {
        display: flex;
      }
    }

    &--others {
      @media screen and (min-width: 1128px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
      }
    }
  }
}

.justify {
  &__explore--button {
    display: flex;
    justify-content: center;

    @media screen and (min-width: 728px) {
      justify-content: flex-start;
    }
  }
}

.m {
  &__footer--item {
    @media (min-width: 728px) and (max-width: 1128px) {
      margin-top: 7px !important;
      margin-bottom: 7px !important;
    }
  }
}

.p {
  &-b__footer--section {
    @media screen and (min-width: 1128px) {
      padding-bottom: 25px;
      width: 25%;
    }
  }
}

.w {
  &__explore--subtitle {
    width: 100%;

    @media screen and (min-width: 728px) {
      width: 300px;
    }
  }
  &__blm--content {
    width: 100%;
    @media screen and (min-width: 728px) {
      width: 50%;
      padding-right: 6%;
    }
  }
  &__footer--section {
    @media screen and (min-width: 1128px) {
      width: 25%;
    }
  }

  &__modal {
    @media screen and (min-width: 1760px) {
      max-width: 1600px;
    }
  }
}

.grid {
  &__footer--items {
    @media (min-width: 728px) and (max-width: 1128px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.block {
  &__footer--dot {
    display: none;
    @media screen and (min-width: 1128px) {
      display: block;
    }
  }
}

.none {
  &__menubar {
    @media screen and (min-width: 728px) {
      display: none;
    }
  }
}

.size {
  &__explore {
    &--subtitle {
      font-size: 12px;

      @media screen and (min-width: 728px) {
        font-size: 14px;
      }
    }
  }
  &__blm {
    &--title {
      font-size: 23px;

      @media (min-width: 728px) and (max-width: 1128px) {
        font-size: 26px;
      }

      @media screen and (min-width: 1128px) {
        font-size: 32px;
      }
    }
  }
}

.text {
  &__explore--subtitle {
    text-align: center;

    @media screen and (min-width: 728px) {
      text-align: initial;
    }
  }
}

.p {
  &__category {
    &--spread {
      padding-top: 11px;
      padding-bottom: 11px;
      @media screen and (min-width: 728px) {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}

.modal__privacy {
  @media screen and (min-width: 1760px) {
    width: 100%;
    max-width: 1600px;
  }
}

.modal__auth {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  @media screen and (min-width: 728px) {
    align-items: center;
  }
}

.m {
  &__privacy {
    margin: 0 20px 20px;

    @media screen and (min-width: 728px) {
      margin: 0 40px 20px;
    }

    @media screen and (min-width: 1128px) {
      margin: 0 80px 20px;
    }

    @media screen and (min-width: 1760px) {
      margin: 0 0 20px;
    }
  }
}
