.container {
  position: relative;
  z-index: 20;
  width: 100%;
  padding: 0 24px;
  height: 100%;

  @media screen and (min-width: 745px) {
    max-width: initial;
    padding: 0 40px;
  }

  @media screen and (min-width: 1128px) {
    padding: 0 75px;
  }
}

.items-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

$pixels: (0, 1);

@each $pixel in $pixels {
  .r-t--#{$pixel} {
    position: relative;
    top: #{$pixel}px;
  }

  .r-b--#{$pixel} {
    position: relative;
    bottom: #{$pixel}px;
  }

  .r-l--#{$pixel} {
    position: relative;
    left: #{$pixel}px;
  }

  .r-r--#{$pixel} {
    position: relative;
    right: #{$pixel}px;
  }
}
