.flex {
  display: flex;

  &-wrap {
    flex-wrap: wrap;
  }

  &-col {
    flex-direction: column;

    &-reverse {
      flex-direction: column-reverse;
    }
  }
}

.items-center {
  align-items: center;
}

.justify {
  &-center {
    justify-content: center;
  }

  &-end {
    justify-content: flex-end;
  }

  &-between {
    justify-content: space-between;
  }
}

.all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.all-sides {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.absolute {
  position: absolute;
}

.overflow-hidden {
  overflow: hidden;
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    width: 0px;
    display: none; /* Safari and Chrome */
    background: transparent; /* make scrollbar transparent */
  }
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

$pixels: (-240, 210, -3, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 55, 80);

@each $pixel in $pixels {
  .rt--#{$pixel} {
    position: relative;
    top: #{$pixel}px;
  }

  .rb--#{$pixel} {
    position: relative;
    bottom: #{$pixel}px;
  }

  .rl--#{$pixel} {
    position: relative;
    left: #{$pixel}px;
  }

  .rr--#{$pixel} {
    position: relative;
    right: #{$pixel}px;
  }

  .at--#{$pixel} {
    position: absolute;
    top: #{$pixel}px;
  }

  .ab--#{$pixel} {
    position: absolute;
    bottom: #{$pixel}px;
  }

  .al--#{$pixel} {
    position: absolute;
    left: #{$pixel}px;
  }

  .ar--#{$pixel} {
    position: absolute;
    right: #{$pixel}px;
  }

  .ft--#{$pixel} {
    position: fixed;
    top: #{$pixel}px;
  }

  .fb--#{$pixel} {
    position: fixed;
    bottom: #{$pixel}px;
  }

  .st--#{$pixel} {
    position: sticky;
    top: #{$pixel}px;
  }

  .t--#{$pixel} {
    top: #{$pixel}px;
  }

  .r--#{$pixel} {
    right: #{$pixel}px;
  }

  .b--#{$pixel} {
    bottom: #{$pixel}px;
  }

  .l--#{$pixel} {
    left: #{$pixel}px;
  }
}

$indices: (50, 9999);
@each $index in $indices {
  .z--#{$index} {
    z-index: #{$index};
  }
}

$gridAmount: (1, 2, 3, 4, 5, 6, 7);
@each $gridAmount in $gridAmount {
  .grid-c--#{$gridAmount} {
    display: grid;
    grid-template-columns: repeat(#{$gridAmount}, 1fr);
  }

  .grid-r--#{$gridAmount} {
    display: grid;
    grid-template-rows: repeat(#{$gridAmount}, 1fr);
  }
}

.container {
  padding: 0px 20px;

  @media screen and (min-width: 728px) {
    padding: 0px 40px;
  }

  @media screen and (min-width: 1128px) {
    padding: 0px 80px;
  }

  @media screen and (min-width: 1276px) {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 80px;
  }

  &__modal {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;

    @media screen and (min-width: 728px) {
      margin-left: 40px;
      margin-right: 40px;
    }

    @media screen and (min-width: 1128px) {
      margin-left: 80px;
      margin-right: 80px;
    }

    @media screen and (min-width: 1276px) {
      margin-left: 80px;
      margin-right: 80px;
    }

    @media screen and (min-width: 1760px) {
      margin: 0 0 20px 0;
    }
  }

  &--spread {
    padding-left: 19px;
    padding-right: 19px;
    @media screen and (min-width: 728px) {
      padding-left: 80px;
      padding-right: 80px;
    }

    @media screen and (min-width: 1760px) {
      max-width: 1600px;
      width: 100%;
      margin: 0 auto;
    }
  }

  &--shrink {
    padding-left: 19px;
    padding-right: 19px;
    @media screen and (min-width: 728px) {
      padding-left: 80px;
      padding-right: 80px;
    }

    @media screen and (min-width: 1760px) {
      max-width: 1600px;
      width: 100%;
      margin: 0 auto;
    }
  }
}

.font {
  &__section {
    &--title {
      font-size: 22px;

      @media screen and (min-width: 728px) {
        font-size: 30px;
      }

      @media screen and (min-width: 1028) {
        font-size: 36px;
      }
    }

    &--subtitle {
      font-size: 14px;

      @media screen and (min-width: 1028px) {
        font-size: 16px;
      }
    }
  }

  &__onlinehost {
    &--title {
      font-size: 22px;

      @media screen and (min-width: 728px) {
        font-size: 36px;
      }

      @media screen and (min-width: 1028px) {
        font-size: 45px;
      }
    }

    &--subtitle {
      font-size: 14px;

      @media screen and (min-width: 728px) {
        font-size: 20px;
        text-align: center;
        line-height: 40px;
      }
    }
  }
}
