$breakpoint--xs: 665px;
$breakpoint--sm: 728px;
$breakpoint--md: 1028px;
$breakpoint--lg: 1326px;

$breakpoints: (xs, sm, md, lg);

$displays: (
  b: block,
  i: inline-block,
  f: flex,
  n: none,
  g: grid,
);

$percentages: (
  50: percentage(0.5),
  55: percentage(0.55),
);

$pixels: (550);

@mixin respond-to($media) {
  @if $media == xs {
    @media only screen and (min-width: $breakpoint--xs) {
      @content;
    }
  } @else if $media == sm {
    @media only screen and (min-width: $breakpoint--sm) {
      @content;
    }
  } @else if $media == md {
    @media only screen and (min-width: $breakpoint--md) {
      @content;
    }
  } @else if $media == lg {
    @media only screen and (min-width: $breakpoint--lg) {
      @content;
    }
  }
}

@each $breakpoint in $breakpoints {
  @each $display_name_1, $display_value_1 in $displays {
    @each $display_name_2, $display_value_2 in $displays {
      .#{$display_name_1}_to_#{$display_name_2}--#{$breakpoint} {
        display: #{$display_value_1};

        @include respond-to(#{$breakpoint}) {
          display: #{$display_value_2};
        }
      }
    }
  }

  @each $percentage_name, $percentage_value in $percentages {
    .w#{$percentage_name}p_to_100--#{$breakpoint} {
      width: #{$percentage_value};

      @include respond-to(#{$breakpoint}) {
        width: 100%;
      }
    }

    .w100p_to_#{$percentage_name}p--#{$breakpoint} {
      width: 100%;

      @include respond-to(#{$breakpoint}) {
        width: #{$percentage_value};
      }
    }

    .maxw100p_to_#{$percentage_name}p--#{$breakpoint} {
      max-width: 100%;

      @include respond-to(#{$breakpoint}) {
        max-width: #{$percentage_value};
      }
    }
  }

  @each $pixel in $pixels {
    .full_to_maxw#{$pixel}--#{$breakpoint} {
      width: 100%;
      @include respond-to(#{$breakpoint}) {
        max-width: #{$pixel}px;
      }
    }
  }
}

.justify--center_to_end--xs {
  justify-content: center;

  @include respond-to(xs) {
    justify-content: flex-end;
  }
}

.justify--start_to_end--sm {
  justify-content: flex-start;

  @include respond-to(sm) {
    justify-content: flex-end;
  }
}

.justify--start_to_center--md {
  justify-content: flex-start;

  @include respond-to(md) {
    justify-content: center;
  }
}

.p-l--24_to_64--sm {
  padding-left: 24px;
  @include respond-to(sm) {
    padding-left: 64px;
  }
}

.t--80p_to_20p--sm {
  top: 80%;

  @include respond-to(md) {
    top: 20%;
  }
}

.t__-45_to_0--md {
  top: -45px;

  @include respond-to(md) {
    top: 0;
  }
}

.l__30_to_0--md {
  left: 30px;

  @include respond-to(md) {
    left: 0;
  }
}

.size__12_to_14--md {
  font-size: 12px;

  @include respond-to(md) {
    font-size: 14px;
  }
}

.weight__500_to_300--md {
  font-weight: 500;

  @include respond-to(md) {
    font-weight: 300;
  }
}
