$breakpoint--sm: 728px;
$breakpoint--md: 1028px;
$breakpoint--lg: 1326px;

$breakpoints: (sm, md, lg);

$displays: (
  b: block,
  i: inline-block,
  f: flex,
  n: none,
);

$percentages: (
  50: percentage(0.5),
  55: percentage(0.55),
);
@mixin respond-to($media) {
  @if $media == sm {
    @media only screen and (min-width: $breakpoint--sm) {
      @content;
    }
  } @else if $media == md {
    @media only screen and (min-width: $breakpoint--md) {
      @content;
    }
  } @else if $media == lg {
    @media only screen and (min-width: $breakpoint--lg) {
      @content;
    }
  }
}

@each $breakpoint in $breakpoints {
  @each $display_name_1, $display_value_1 in $displays {
    @each $display_name_2, $display_value_2 in $displays {
      .#{$display_name_1}_to_#{$display_name_2}--#{$breakpoint} {
        display: #{$display_value_1};

        @include respond-to(#{$breakpoint}) {
          display: #{$display_value_2};
        }
      }
    }
  }

  @each $percentage_name, $percentage_value in $percentages {
    .w#{$percentage_name}p_to_100--#{$breakpoint} {
      width: #{$percentage_value};

      @include respond-to(#{$breakpoint}) {
        width: 100%;
      }
    }

    .w100p_to_#{$percentage_name}--#{$breakpoint} {
      width: 100%;

      @include respond-to(#{$breakpoint}) {
        width: #{$percentage_value};
      }
    }
  }
}
