$breakpoints: (
  sm: 728,
  md: 1028,
  lg: 1326,
);

@each $name, $point in $breakpoints {
  .i_to_b--#{$name} {
    display: inline-block;

    @media screen and (min-width: #{$point}px) {
      display: block;
    }
  }

  .b_to_i--#{$name} {
    display: block;

    @media screen and (min-width: #{$point}px) {
      display: inline-block;
    }
  }

  .b_to_f--#{$name} {
    display: block;

    @media screen and (min-width: #{$point}px) {
      display: flex;
    }
  }

  .f_to_b--#{$name} {
    display: flex;

    @media screen and (min-width: #{$point}px) {
      display: block;
    }
  }

  .n_to_b--#{$name} {
    display: none;

    @media screen and (min-width: #{$point}px) {
      display: block;
    }
  }

  .b_to_n--#{$name} {
    display: block;

    @media screen and (min-width: #{$point}px) {
      display: none;
    }
  }

  .n_to_f--#{$name} {
    display: none;

    @media screen and (min-width: #{$point}px) {
      display: flex;
    }
  }

  .f_to_n--#{$name} {
    display: flex;

    @media screen and (min-width: #{$point}px) {
      display: none;
    }
  }
}
