$pixels: (
  1,
  3,
  4,
  5,
  6,
  8,
  10,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  25,
  30,
  35,
  40,
  45,
  50,
  55,
  60,
  65,
  75,
  100,
  130,
  140,
  200,
  210,
  230,
  300,
  1200
);

@each $pixel in $pixels {
  .br--#{$pixel} {
    border-radius: #{$pixel}px;
  }

  .btr--#{$pixel} {
    border-top-left-radius: #{$pixel}px;
    border-top-right-radius: #{$pixel}px;
  }

  .bbr--#{$pixel} {
    border-bottom-left-radius: #{$pixel}px;
    border-bottom-right-radius: #{$pixel}px;
  }

  .blr--#{$pixel} {
    border-top-left-radius: #{$pixel}px;
    border-bottom-left-radius: #{$pixel}px;
  }

  .brr--#{$pixel} {
    border-top-right-radius: #{$pixel}px;
    border-bottom-right-radius: #{$pixel}px;
  }

  .btlr--#{$pixel} {
    border-top-left-radius: #{$pixel}px;
  }

  .bblr--#{$pixel} {
    border-bottom-left-radius: #{$pixel}px;
  }

  .btrr--#{$pixel} {
    border-top-right-radius: #{$pixel}px;
  }

  .bbrr--#{$pixel} {
    border-bottom-right-radius: #{$pixel}px;
  }

  .w--#{$pixel} {
    width: #{$pixel}px;
  }

  .max-w--#{$pixel} {
    max-width: #{$pixel}px;
  }

  .min-w--#{$pixel} {
    min-width: #{$pixel}px;
  }

  .h--#{$pixel} {
    height: #{$pixel}px;
  }

  .min-h--#{$pixel} {
    min-height: #{$pixel}px;
  }
}

.br {
  &--circle {
    border-radius: 50%;
  }
}

$percents: (
  50: percentage(0.5),
  75: percentage(0.75),
);

@each $name, $percent in $percents {
  .w--#{$name}p {
    width: #{$percent};
  }
  .h--#{$name}p {
    height: #{$percent};
  }
}

.h--full {
  height: 100%;
}

.w--full {
  width: 100%;
}

.h--100v {
  height: 100vh;
}

.min-h {
  &--fullv {
    min-height: 100vh;
  }
}

.w {
  &--full {
    width: 100%;
  }

  &--inherit {
    width: inherit;
  }
}

.min-w {
  &--150 {
    min-width: 150px;
  }
}

.shadow--sm {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
}

.shadow--lg {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
}

.hidden {
  visibility: hidden;
}

.outline--none {
  outline: none;
}

.background-cover {
  background-size: cover;
}

.background-repeat {
  background-repeat: no-repeat;
}

.none {
  display: none !important;
}

.from__md {
  display: none;

  @media screen and (min-width: 728px) {
    display: block;
  }

  &--flex {
    display: none;

    @media screen and (min-width: 728px) {
      display: flex;
    }
  }
}

.only__sm {
  display: block;

  @media screen and (min-width: 728px) {
    display: none;
  }
}

.from__lg {
  display: none;

  @media screen and (min-width: 1028px) {
    display: block;
  }
}

.until__lg {
  display: block;

  @media screen and (min-width: 1028px) {
    display: none;
  }
}
