$pixels: (
  3,
  4,
  5,
  6,
  8,
  10,
  12,
  13,
  15,
  20,
  25,
  30,
  35,
  40,
  45,
  50,
  75,
  100,
  130,
  140
);

@each $pixel in $pixels {
  .br--#{$pixel} {
    border-radius: #{$pixel}px;
  }

  .w--#{$pixel} {
    width: #{$pixel}px;
  }

  .h--#{$pixel} {
    height: #{$pixel}px;
  }
}

$percents: (
  75: percentage(0.75),
);

@each $name, $percent in $percents {
  .h--#{$name}p {
    height: #{$percent};
  }
}

.min-h {
  &--fullv {
    min-height: 100vh;
  }
}

.w {
  &--full {
    width: 100%;
  }

  &--inherit {
    width: inherit;
  }
}

.min-w {
  &--150 {
    min-width: 150px;
  }
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
}

.hidden {
  visibility: hidden;
}
