$pixels: (
  3,
  4,
  5,
  6,
  8,
  10,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  25,
  30,
  35,
  40,
  45,
  50,
  75,
  100,
  130,
  140
);

@each $pixel in $pixels {
  .br--#{$pixel} {
    border-radius: #{$pixel}px;
  }

  .btr--#{$pixel} {
    border-top-left-radius: #{$pixel}px;
    border-top-right-radius: #{$pixel}px;
  }

  .bbr--#{$pixel} {
    border-bottom-left-radius: #{$pixel}px;
    border-bottom-right-radius: #{$pixel}px;
  }

  .w--#{$pixel} {
    width: #{$pixel}px;
  }

  .h--#{$pixel} {
    height: #{$pixel}px;
  }
}

$percents: (
  75: percentage(0.75),
);

@each $name, $percent in $percents {
  .h--#{$name}p {
    height: #{$percent};
  }
}

.h--full {
  height: 100%;
}

.min-h {
  &--fullv {
    min-height: 100vh;
  }
}

.w {
  &--full {
    width: 100%;
  }

  &--inherit {
    width: inherit;
  }
}

.min-w {
  &--150 {
    min-width: 150px;
  }
}

.shadow--sm {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
}

.shadow--lg {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
}

.hidden {
  visibility: hidden;
}

.outline--none {
  outline: none;
}

.none {
  display: none !important;

  &--sm {
    display: none;

    @media screen and (min-width: 728px) {
      display: flex;
    }
  }

  &--md {
    display: flex;

    @media screen and (min-width: 728px) {
      display: none;
    }
  }
}
