.display {
  &__transparent {
    &--sm {
      display: flex;

      @media screen and (min-width: 728px) {
        display: none;
      }
    }

    &--md {
      display: none;

      @media screen and (min-width: 728px) {
        display: flex;
      }
    }
  }
}

.hover {
  &__logo {
    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }
  }
}

.landing__bb {
  &--selected {
    &:after {
      content: "";
      display: block;
      width: 30%;
      padding-top: 10px;
      border-bottom: 2px solid white;
      transition: 0.5s;
      margin: 0 auto;
    }
  }
  &:after {
    content: "";
    display: block;
    width: 0%;
    padding-top: 10px;
    border-bottom: 2px solid white;
    transition: 0.5s;
    margin: 0 auto;
  }

  &:hover:after {
    width: 10px;
  }
}
