@font-face {
  font-family: 'AirbnbCereal';
  font-weight: 900;
  src: url('../fonts/AirbnbCereal-ExtraBold.woff2');
}

@font-face {
  font-family: 'AirbnbCereal';
  src: url('/fonts/AirbnbCereal-Bold.woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'AirbnbCereal';
  src: url('../fonts/AirbnbCereal-Medium.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'AirbnbCereal';
  src: url('/fonts/AirbnbCereal-Book.woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'AirbnbCereal';
  src: url('/fonts/AirbnbCereal-Light.woff2');
  font-weight: 100;
}
