@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    touch-action: manipulation;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }

  html {
    box-sizing: border-box;
  }

  body {
    font-family: 'AirbnbCereal';
    touch-action: manipulation;
  }

  input {
    font-family: 'AirbnbCereal';
    margin: 0;
  }

  a {
    color: black;
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin: 0;
    color: #484848;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  button {
    cursor: pointer;
    font-family: 'AirbnbCereal';
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
  }

  svg {
    display: block;
  }

  img {
    width: 100%;
    height: 100%;
  }

  h1 {
    font-weight: 800;
  }

  h3 {
    font-weight: 500;
  }

  h4 {
    font-weight: 300;
  }

  p {
    font-weight: 100;
  }

  span {
    font-weight: 100;
  }

  select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
  }

  table {
    border-collapse: collapse;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
  }

  th,
  td {
    margin: 0;
    padding: 0;
  }
}

@layer components {
  .container {
    @apply max-w-5xl mx-auto px-4 md:px-5 lg:px-6;
  }

  .horizontal-line {
    &::after {
      content: '';
      width: 100%;
      position: absolute;
      border-bottom: 1px solid #868686;
      left: 0;
      top: 54%;
    }
  }

  .banner {
    position: relative;
    padding-top: 133.3%;
  }

  @media screen and (min-width: 728px) {
    .banner {
      padding-top: 100%;
    }
  }

  @media screen and (min-width: 960px) {
    .banner {
      padding-top: 48%;
    }
  }
}

@layer utilities {
  .pt-full {
    padding-top: 100%;
  }

  .bg-primary {
    background: linear-gradient(
      to right,
      rgb(230, 30, 77) 0%,
      rgb(227, 28, 95) 50%,
      rgb(215, 4, 102) 100%
    );
  }

  .hide-scrollbar {
    &::-webkit-scrollbar {
      width: 0px;
      display: none; /* Safari and Chrome */
      background: transparent; /* make scrollbar transparent */
    }
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
}
