@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    touch-action: manipulation;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }

  html {
    box-sizing: border-box;
  }

  body {
    font-family: 'AirbnbCereal';
    touch-action: manipulation;
  }

  input {
    font-family: 'AirbnbCereal';
    margin: 0;
  }

  a {
    color: black;
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin: 0;
    color: #484848;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  button {
    cursor: pointer;
    font-family: 'AirbnbCereal';
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
  }

  svg {
    display: block;
  }

  img {
    width: 100%;
    height: 100%;
  }

  h1 {
    font-weight: 800;
  }

  h3 {
    font-weight: 500;
  }

  h4 {
    font-weight: 300;
  }

  p {
    font-weight: 100;
  }

  span {
    font-weight: 100;
  }

  select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
  }

  table {
    border-collapse: collapse;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
  }

  th,
  td {
    margin: 0;
    padding: 0;
  }
}

@layer components {
  .container {
    @apply max-w-5xl mx-auto px-4 md:px-5 lg:px-6;
  }

  .container--spread {
    @apply px-4 sm:px-8 md:px-36 lg:max-w-4xl lg:w-full lg:mx-auto;
  }

  .container--shrink {
    @apply px-4 sm:px-24 lg:max-w-3xl lg:w-full lg:mx-auto;
  }

  .horizontal-line {
    &::after {
      content: '';
      width: 100%;
      position: absolute;
      border-bottom: 1px solid #868686;
      left: 0;
      top: 54%;
    }
  }

  .banner {
    position: relative;
    padding-top: 133.3%;
  }

  .container-spread {
    padding-left: 19px;
    padding-right: 19px;
  }

  @media screen and (min-width: 728px) {
    .banner {
      padding-top: 100%;
    }

    .container-spread {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media screen and (min-width: 960px) {
    .banner {
      padding-top: 48%;
    }
  }

  @media screen and (min-width: 1128px) {
    .container-spread {
      padding-left: 70px;
      padding-right: 70px;
    }
  }

  @media screen and (min-width: 1760px) {
    .container-spread {
      max-width: 1780px;
      width: 100%;
      margin: 0 auto;
    }
  }

  .label {
    position: absolute;
    transition: all 150ms ease-in;
    font-size: 16px;
    top: 12px;
  }

  .m__privacy {
    margin: 0 20px 20px;
  }

  @media screen and (min-width: 728px) {
    .m__privacy {
      margin: 0 40px 20px;
    }
  }

  @media screen and (min-width: 1128px) {
    .m__privacy {
      margin: 0 70px 20px;
    }
  }

  @media screen and (min-width: 1760px) {
    .m__privacy {
      margin: 0 0 20px;
    }
  }

  .landing__bb--selected:after {
    content: '';
    display: block;
    width: 30%;
    padding-top: 10px;
    border-bottom: 2px solid white;
    transition: 0.5s;
    margin: 0 auto;
  }

  .landing__bb:after {
    content: '';
    display: block;
    width: 0%;
    padding-top: 10px;
    border-bottom: 2px solid white;
    transition: 0.5s;
    margin: 0 auto;
  }

  .landing__bb:hover:after {
    width: 10px;
  }

  .ba::after {
    content: '';
    width: 100%;
    position: absolute;
    border-bottom: 1px solid #868686;
    left: 0;
    top: 54%;
  }
}

@layer utilities {
  .h-fit {
    height: fit-content;
  }

  .pt-full {
    padding-top: 100%;
  }

  .p__online {
    padding-top: calc(-64px + (1.45 * (100% - 84px)));
  }

  @media screen and (min-width: 742px) {
    .p__online {
      padding-top: 68%;
    }
  }

  @media screen and (min-width: 1128px) {
    .p__online {
      padding-top: 50%;
    }
  }

  .bg-primary {
    background: linear-gradient(
      to right,
      rgb(230, 30, 77) 0%,
      rgb(227, 28, 95) 50%,
      rgb(215, 4, 102) 100%
    );
  }

  .hide-scrollbar {
    &::-webkit-scrollbar {
      width: 0px;
      display: none; /* Safari and Chrome */
      background: transparent; /* make scrollbar transparent */
    }
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .transition-input {
    transition: all 150ms ease-in;
  }

  .snap-type-x {
    scroll-snap-type: x mandatory;
  }

  .snap-align-start {
    scroll-snap-align: start;
  }

  .circle-animation {
    animation: colors 1s infinite;
  }

  @keyframes colors {
    0% {
      opacity: 0.9;
    }
    50% {
      opacity: 0.6;
    }
    100% {
      opacity: 0.3;
    }
  }
}
