.display {
  &__content {
    display: block;

    @media screen and (min-width: 1028px) {
      display: flex;
    }
  }
}

.w {
  &__section {
    width: 100%;

    @media screen and (min-width: 1028px) {
      width: 840px;
    }
  }
}
