.circle {
  &__wrapper {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
  }

  &__content {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: black;
    border-radius: 0.25rem;
  }

  &--1 {
    animation: colors 1s infinite;
  }

  &--2 {
    animation: colors 1s infinite;
    animation-delay: 0.3s;
  }

  &--3 {
    animation: colors 1s infinite;
    animation-delay: 0.6s;
  }
}

@keyframes colors {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
