.container {
  &__active {
    border: 2px solid black;
  }

  &__inactive {
    background-color: white;
  }

  &__error {
    &--active {
      border: 2px solid #c13514;
      background-color: white;
    }

    &--inactive {
      border: 1px solid #c13514;
      background-color: #fef8f6;
    }
  }
}

.label {
  position: absolute;
  transition: all 150ms ease-in;
  font-size: 16px;
  top: 12px;

  &__active {
    position: absolute;
    transition: all 150ms ease-in;
    font-size: 13px;
    top: 2px;
    color: gray !important;
  }

  &__error {
    position: absolute;
    transition: all 150ms ease-in;
    font-size: 13px;
    top: 2px;
    color: #c13514 !important;
    font-weight: 500;
  }
}

.input {
  position: relative;
  top: 0px;
  outline: none;
  width: 100%;
  padding-top: 20px;
  font-size: 16px;
  color: rgb(104, 104, 104);

  &__active {
    background-color: white;

    &::placeholder {
      color: rgb(104, 104, 104);
    }
  }

  &__inactive {
    background-color: white;

    &::placeholder {
      color: rgb(104, 104, 104);
    }
  }

  &__error {
    &--active {
      background-color: white;
    }

    &--inactive {
      background-color: #fef8f6;
    }
  }
}

.select-input {
  position: relative;
  top: 0px;
  outline: none;
  width: 100%;
  padding-top: 20px;
  font-size: 16px;
  color: rgb(104, 104, 104);

  &__active {
    background-color: white;

    &::placeholder {
      color: rgb(104, 104, 104);
    }
  }

  &__inactive {
    background-color: white;

    &::placeholder {
      color: rgb(104, 104, 104);
    }
  }

  &__error {
    &--active {
      background-color: white;
    }

    &--inactive {
      background-color: #fef8f6;
    }
  }
}

.select-label {
  position: absolute;
  transition: all 150ms ease-in;
  font-size: 13px;
  top: 2px;
  color: gray !important;

  &__active {
    position: absolute;
    transition: all 150ms ease-in;
    font-size: 13px;
    top: 7px;
    color: gray !important;
  }

  &__error {
    position: absolute;
    transition: all 150ms ease-in;
    font-size: 13px;
    top: 9px;
    color: #c13514 !important;
    font-weight: 500;
  }
}

input[type="radio"] {
  display: none;
}
input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  border: 1px solid #b9b9b9;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}
label:hover:before {
  box-shadow: inset 0 0 1px black;
}
input[type="radio"]:checked + label:before {
  color: black;
  // background-color: red;
}
