.label {
  position: absolute;
  transition: all 150ms ease-in;
  font-size: 13px;
  top: 2px;
}

.input:invalid ~ .label {
  position: absolute;
  transition: all 150ms ease-in;
  font-size: 16px;
  top: 11px;
  color: gray !important;
}
.input:focus ~ .label {
  position: absolute;
  transition: all 150ms ease-in;
  font-size: 13px;
  top: 2px;
  color: gray !important;
}

.input:invalid:focus ~ .label {
  position: absolute;
  transition: all 150ms ease-in;
  font-size: 13px;
  top: 2px;
  color: gray !important;
}

.input {
  position: relative;
  top: 0px;
  outline: none;
  width: 100%;
  padding-top: 20px;
  font-size: 16px;
  color: rgb(104, 104, 104);
}

.input::placeholder:focus {
  color: rgb(104, 104, 104);
}

.input[type='date']:invalid::-webkit-datetime-edit {
  color: transparent;
}

.input[type='date']:focus::-webkit-datetime-edit {
  color: rgb(104, 104, 104);
}
