$spaceamounts: (
  0,
  3,
  4,
  5,
  6,
  8,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  18,
  19,
  20,
  22,
  24,
  25,
  28,
  30,
  32,
  35,
  38,
  40,
  45,
  50,
  64,
  75,
  100
); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone
$breakpoints: (
  'sm': 728,
  'md': 1028,
  'lg': 1326,
);

@each $space in $spaceamounts {
  .m--#{$space} {
    margin: #{$space}px;
  }

  .m-h--#{$space} {
    margin-right: #{$space}px;
    margin-left: #{$space}px;
  }

  .m-v--#{$space} {
    margin-top: #{$space}px;
    margin-bottom: #{$space}px;
  }

  .p--#{$space} {
    padding: #{$space}px;
  }

  .p-h--#{$space} {
    padding-left: #{$space}px;
    padding-right: #{$space}px;
  }

  .p-v--#{$space} {
    padding-top: #{$space}px;
    padding-bottom: #{$space}px;
  }

  .nf-m--#{$space} {
    &:not(first-child) {
      margin: #{$space}px;
    }
  }

  .nf-p--#{$space} {
    &:not(first-child) {
      padding: #{$space}px;
    }
  }

  @each $side in $sides {
    .nf-m-#{str-slice($side, 0, 1)}--#{$space} {
      &:not(first-child) {
        margin-top: #{$space}px;
      }
    }

    .nf-p-#{str-slice($side, 0, 1)}--#{$space} {
      &:not(first-child) {
        padding-top: #{$space}px;
      }
    }

    .m-#{str-slice($side, 0, 1)}--#{$space} {
      margin-#{$side}: #{$space}px;
    }

    .p-#{str-slice($side, 0, 1)}--#{$space} {
      padding-#{$side}: #{$space}px;
    }
    @each $name, $value in $breakpoints {
      .nf-m-#{str-slice($side, 0, 1)}--#{$space} {
        &:not(first-child) {
          margin-top: #{$space}px;
        }
      }

      .nf-p-#{str-slice($side, 0, 1)}--#{$space} {
        &:not(first-child) {
          padding-top: #{$space}px;
        }
      }

      .m-#{str-slice($side, 0, 1)}--#{$space}--#{$name} {
        margin-#{$side}: #{$space}px;
        @media screen and (min-width: #{$value}px) {
          margin-#{$side}: 0px;
        }
      }

      .m-#{str-slice($side, 0, 1)}--#{$space}--#{$name}- {
        @media screen and (min-width: #{$value}px) {
          margin-#{$side}: #{$space}px;
        }
      }

      .p-#{str-slice($side, 0, 1)}--#{$space}--#{$name} {
        padding-#{$side}: #{$space}px;
        @media screen and (min-width: #{$value}px) {
          padding-#{$side}: 0px;
        }
      }

      .p-#{str-slice($side, 0, 1)}--#{$space}--#{$name}- {
        @media screen and (min-width: #{$value}px) {
          padding-#{$side}: #{$space}px;
        }
      }
    }
  }
}

.p {
  &__homes {
    padding: 0 20px;

    @media screen and (min-width: 728px) {
      padding: 0 64px;
    }
  }
}
