@supports (object-fit: cover) {
  .support {
    display: none;
    background-image: none;
  }
}

.w {
  &__banner {
    width: 50%;

    @media screen and (min-width: 728px) {
      width: 35%;
    }
  }
}

.m {
  &-v {
    &__banner {
      margin-top: 50px;
      margin-bottom: 10px;

      @media screen and (min-width: 728px) {
        margin-top: 10px;
      }
    }
  }

  &__banner {
    margin: 0 auto;

    @media screen and (min-width: 728px) {
      margin: initial;
    }
  }
}

.p {
  &__background {
    padding-top: 133.333%;

    @media (min-width: 728px) {
      padding-top: 56.25%;
    }

    @media (min-width: 1128px) {
      padding-top: 37.5%;
    }
  }
}

.size {
  &__banner {
    font-size: 30px;

    @media screen and (min-width: 728px) {
      font-size: 36px;
    }

    @media screen and (min-width: 1128px) {
      font-size: 50px;
    }
  }
}
