.none {
  &__cards {
    &--sm {
      display: none;
      @media screen and (min-width: 728px) {
        display: block;
      }
    }

    &--lg {
      display: none;
      @media screen and (min-width: 1128px) {
        display: block;
      }
    }
  }
}

.w {
  &__card {
    width: 250px;

    @media screen and (min-width: 728px) {
      max-width: calc(100% / 4);
    }

    @media screen and (min-width: 1128px) {
      max-width: calc(100% / 6);
    }

    @media screen and (min-width: 1440px) {
      max-width: calc(100% / 7);
    }
  }

  &__pagination {
    &--carousel {
      min-width: 400px;

      @media screen and (min-width: 728px) {
        min-width: calc(100% / 2);
      }

      @media screen and (min-width: 1158px) {
        min-width: calc(100% / 3);
      }

      @media screen and (min-width: 1358px) {
        min-width: calc(100% / 4);
      }

      @media screen and (min-width: 1660px) {
        min-width: calc(100% / 5);
      }
    }
  }

  &__panel {
    &--image {
      @media screen and (min-width: 728px) {
        width: 50%;
      }
    }
  }

  &__host--left {
    @media screen and (min-width: 728px) {
      width: 50%;
    }
  }

  &__host--right {
    @media screen and (min-width: 728px) {
      width: 50%;
    }
  }
}

.flex {
  &__card {
    flex: 0 0 calc(100% / 4);

    @media screen and (min-width: 1128px) {
      flex: 0 0 calc(100% / 6);
    }

    @media screen and (min-width: 1440px) {
      flex: 0 0 calc(100% / 7);
    }
  }
}

.multiplerows {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, 1fr);

  @media screen and (min-width: 728px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media screen and (min-width: 1128px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.hidden {
  &__options {
    display: none;

    @media screen and (min-width: 1028px) {
      display: inline-block;
    }
  }
}

.display {
  &__amenities {
    &--wrapper {
      @media screen and (min-width: 728px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__reviews {
    &--wrapper {
      display: block;

      @media screen and (min-width: 728px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

.m {
  &__review {
    &--bullet {
      @media screen and (min-width: 728px) {
        margin-right: 48px;
      }
    }
    &--card {
      @media screen and (min-width: 728px) {
        margin-right: 48px;
        margin-bottom: 24px;
      }
    }
  }
}

.display {
  &__host {
    &--wrapper {
      display: block;

      @media screen and (min-width: 728px) {
        display: flex;
      }
    }
  }

  &__other {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (min-width: 1028px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.br {
  &__panel {
    @media screen and (min-width: 728px) {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }
  }
}

.b {
  &__panel {
    @media screen and (min-width: 728px) {
      border-right: 4px solid white;
    }
  }
}

.container {
  &__panel {
    padding: 11px 0;

    @media screen and (min-width: 728px) {
      padding: 11px 20px;
    }

    @media screen and (min-width: 1128px) {
      padding: 11px 80px;
    }

    @media screen and (min-width: 1276px) {
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      padding: 15px 80px;
    }
  }
}
