.flex__privacy--content {
  display: block;

  @media screen and (min-width: 1328px) {
    display: flex;
    align-items: center;
  }
}

.flex__privacy--buttons {
  display: block;

  @media screen and (min-width: 728px) {
    display: flex;
  }
}

.m-r--privacy {
  margin-right: 0px;

  @media screen and (min-width: 728px) {
    margin-right: 8px;
  }
}

.ba {
  &::after {
    content: '';
    width: 100%;
    position: absolute;
    border-bottom: 1px solid #868686;
    left: 0;
    top: 54%;
  }
}

.position {
  &__booking {
    right: 0;
    bottom: 0;
    @media screen and (min-width: 1028px) {
      top: 0;
    }
  }
}

.w__auth {
  width: 100%;

  @media screen and (min-width: 728px) {
    width: 550px;
  }
}

.modal__privacy {
  @media screen and (min-width: 1760px) {
    width: 100%;
    max-width: 1600px;
  }
}
