name: deploy-manifests

on:
  push:
    branches:
      - master
    paths:
      - "infrastructure/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
      - run: doctl kubernetes cluster kubeconfig save nextbnb
      - run: kubectl apply -f infrastructure/kubernetes && kubectl apply -f infrastructure/prod
