.shadow___homes {
  box-shadow: 10px 0 5px -2px red !important;
  //   background-color: red !important;
}

.w__homes {
  &--left {
    width: 100%;

    @media screen and (min-width: 728px) {
      width: 50%;
    }

    @media screen and (min-width: 1028px) {
      width: 43%;
    }
  }

  &--right {
    width: 100%;

    @media screen and (min-width: 728px) {
      width: 50%;
    }

    @media screen and (min-width: 1028px) {
      width: 57%;
    }
  }
}

.w {
  &__onlinehost {
    &--explanation {
      width: 550px;
    }
    &--subtitle {
      width: 600px;
    }
  }
}

.text {
  &__onlinehost {
    &--explanation {
      text-align: center;
    }
    &--subtitle {
      text-align: center;
    }
  }
}

.display {
  &__onlinehost {
    &--points {
      display: block;

      @media screen and (min-width: 728px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
      }
    }
  }
}
